<div class="page">
  <section class="background">
    <div class="background__container">
      <h1 class="background__title background__title_shadow">short-links</h1>
      <div class="background__subtitle background__subtitle_shadow">My test-task for Web-systems</div>
    </div>
  </section>
  <main class="content">
    <section class="search">
      <div class="search__container">
        <%= form_tag(links_path, method: 'get') do %>
        <%= text_field_tag :short_name, nil, placeholder: "Short link..",
                                        required: true, pattern: "[a-zA-Z0-9]{5}",
                                        maxlength: "5", class: "search__input" %>
        <%= submit_tag "Search", class: "search__btn" %>
        <% end %>
      </div>
    </section>
    <section class="cards">
      <div class="cards__container">
        <%= render @links %>
      </div>
    </section>
    <% if @links.count > 1 %>
    <section class="paginate">
      <div class="container__container">
        <%= will_paginate @links, page_links: false %>
      </div>
    </section>
    <% end %>
  </main>
</div>
