<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @link.full_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @link.short_name %>
</p>

<p>
  <strong>Quantity visit:</strong>
  <%= @link.quantity_visit %>
</p>

<p>
  <strong>Password:</strong>
  <%= @link.password %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
